*{
    background-color: rgb(0, 0, 0);
}
.hostel{
    background-color: aliceblue;
    text-align: center;
}
.a{
    color: yellow;
    text-align: center;
    font-size:40px;
    font-weight: bolder;
    margin-top: 6vh;
}

.date{
    color: aliceblue;
    text-align: center;
    margin-top: 3vh;
}

.frm{
    text-align: center;
    border-color: aquamarine;
    margin-top: 3vh;
}
.form{
    color: aliceblue;
}
.inpt{
    color: aliceblue;
}
.inptformmonth{
    color: aliceblue;
}
.goTo{
    color: aliceblue;
    text-align: center;
    border-color: aliceblue;
    border-style:dashed;
    background-color:cornflowerblue;
    margin: 5px;
}
.personName{
    color: aliceblue;
}
.content{
    display: flex;
    border-color: aliceblue;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    margin-top: 3vh;

}
.b{
    color: aliceblue;
    text-align: center;
    border-color: aliceblue;
    border-width: 2px;
    display: flex;
    border-style: solid;
    margin: 1vw;
    margin-left:  1vh; 
    padding: 10px;
}
.upcoming{
    color: aliceblue;
    border-color: aliceblue;
    display: flex;
    border-style: solid;
    text-align: right;
    margin-left: 20vw ;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 1vw;
    padding: 10px;
}
.upcomingName{
    text-align: center;
}